<div class="w3-half">
    <div class="w3-container w3-center w3-padding">
        <h1>Lista de tus amigos aceptados</h1>
        {{#each friendsOK}}
            <div >
                <ul class="w3-card-4 w3-margin w3-ul">
                    <li>{{username_users}}</li>
                    <li>{{email_users}}</li>
                </ul>
            </div>
        {{else}}
            <h2>No tienes amigos</h2>
        {{/each}}
    </div>
    <div class="w3-container w3-center w3-padding">
        <h1>Lista de tus amigos que deben aceptar</h1>
        {{#each friendsWait}}
            <div>
                <ul class="w3-card-4 w3-margin w3-ul">
                    <li>{{username_users}}</li>
                    <li>{{email_users}}</li>
                </ul>
            </div>
        {{else}}
            <h2>No tienes solicitudes que te deben aceptar</h2>
        {{/each}}
    </div>
</div>
<div class="w3-half">
    <div class="w3-container w3-padding w3-center">
        <h1>Lista solicitudes por aceptar:</h1>        
        {{#each friendsAccept}}
            <div>
                <ul class="w3-card-4 w3-margin w3-ul"> 
                    <li>{{username_users}}</li>
                    <li>{{email_users}}</li>
                    <li>
                        <div class="w3-container">
                            <form action="/friends/accept/{{id_users}}" method="post">
                                <button class="w3-green" type="submit">Aceptar</button>
                            </form> 
                            <form action="/friends/decline/{{id_users}}" method="post">
                                <button class="w3-red" type="submit">Rechazar</button>
                            </form>                             
                        </div>     
                    </li>                    
                </ul>
            </div>
        {{else}}
            <h2>No tienes solicitudes por aceptar</h2>
        {{/each}}
    </div>
    <div class="w3-container w3-padding w3-center">
        <h1>Personas que puedes conocer</h1>        
        {{#each friendsNot}}
            <div>
                <ul class="w3-card-4 w3-margin w3-ul">
                    <li>{{username_users}}</li>
                    <li>{{email_users}}</li>
                    <li>
                        <div class="w3-container">
                            <form action="/friends/add/{{id_users}}" method="post">
                                <button class="w3-blue" type="submit">Agregar</button>
                            </form>                         
                        </div>     
                    </li>                    
                </ul>
            </div>
        {{else}}
            <h2>Conoces a todos en la plataforma</h2>
        {{/each}}
    </div>
</div>