<h1>Estos son tus post:</h1>
<div class="w3-row">
    <div class="w3-container">
        <div class="w3-twothird w3-center">
            {{#each data}}
                {{#ifEquals id_post NULL}}
                    
                {{else}}
                    <ul class="w3-ul w3-border w3-card-4">
                        <li class="w3-container w3-blue"><h2>Autor: {{username_users}}</h2></li>            
                        <li><h3>{{title_post}}</h3></li>
                        <li>{{description_post}}</li>
                        <li><img src="{{url_post}}" width="700px" height="400px"></li>
                        {{#ifEquals id_users_post ../ActualUser}}
                            <div class="w3-container ">
                                <form action="/post/delete/{{id_post}}" method="get">
                                    <button class="w3-red w3-round-large " type="submit">borrar</button>
                                </form> 
                                <form action="/post/edit/{{id_post}}" method="get">
                                    <button class="w3-blue w3-round-large" type="submit">Actualizar</button>
                                </form> 
                            </div>        
                        {{/ifEquals}}
                    </ul>
                    <br>
                {{/ifEquals}}                
            {{else}}
                <h1>Crea un post primero</h1>
            {{/each}}
        </div>
        <div class="w3-third w3-container">
            <div class="w3-container w3-padding">
                <div class="w3-container w3-blue w3-card-4">
                <h2>Agrega un post</h2>
                </div>
                <form action="/post" method="post" class="w3-container w3-light-grey">
                    <label><b>Titulo del post</b></label>
                    <input class="w3-input w3-border " type="text" name="title" autofocus>
                    <label> <b>Descripción</b></label>
                    <input class="w3-input w3-border" type="text" name="description">
                    <label> <b>Link de la imagen</b></label>
                    <input class="w3-input w3-border" type="text" name="url">

                    <button class="w3-btn w3-green" type="submit">enviar</button>
                </form>
            </div>
        </div>        
    </div>
</div>